@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body {
  font-family: Nunito, Arial, sans-serif;
  margin: 0;
  background: #e5e1ea;
  height: 100vh;
  box-sizing: border-box;
}

body,
html,
* {
  box-sizing: border-box;
}

body > div {
  height: 100%;
}

ul {
  list-style: none;
}
